!*.svg  # comment out if you don't need vector files
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!TAGS/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!gradle-wrapper.jar
!src/**/build/
!tags/
$RECYCLE.BIN/
**/build/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
*.7z
*.bak
*.bz2
*.bzip
*.bzip2
*.cab
*.class
*.code-workspace
*.ctxt
*.deb
*.diff
*.dmg
*.ear
*.egg
*.elc
*.gem
*.gho
*.gz
*.gzip
*.iso
*.iws
*.jar
*.launch
*.lnk
*.log
*.lzma
*.mode1v3
*.mode2v3
*.moved-aside
*.msi
*.msix
*.msm
*.msp
*.nar
*.ori
*.orig
*.patch
*.pbxuser
*.perspectivev3
*.pydevproject
*.rar
*.rel
*.rpm
*.stackdump
*.swp
*.tar
*.tar.gz
*.tgz
*.tmp
*.tmproj
*.tmproject
*.txz
*.war
*.xar
*.xccheckout
*.xcscmblueprint
*.xpi
*.xz
*.zip
*_archive
*_flymake.*
*~
*~.nib
.*.kate-swp
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TAGS
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.\#*
._*
.apdisk
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.c9
.c9revisions
.cache-main
.cask/
.com.apple.timemachine.donotpresent
.cproject
.dir-locals.el
.directory
.dropbox
.dropbox.attr
.dropbox.cache
.externalToolBuilders/
.factorypath
.fseventsd
.fuse_hidden*
.gradle
.gradletasknamecache
.history/
.idea
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.nb-gradle/
.netrwhist
.nfs*
.org-id-locations
.projectile
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.swp.*
.tags
.target
.tern-project
.texlipse
.vscode/*
.worksheet
/*.gcno
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
DerivedData/
GPATH
GRTAGS
GSYMS
GTAGS
Icon
Network Trash Folder
Session.vim
Sessionx.vim
TAGS
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
\#*\#
atlassian-ide-plugin.xml
auto-save-list
bin/
build/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
cscope.files
cscope.in.out
cscope.out
cscope.po.out
dist/
ehthumbs.db
ehthumbs_vista.db
fabric.properties
flycheck_*.el
gradle-app.setting
gtags.files
hs_err_pid*
local.properties
nbbuild/
nbdist/
out/
tags
tmp/
tmtags
tramp
xcuserdata/